<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="description"
            content="Juan Wu software developer projects"
        />
        <meta name="author" content="Juan Wu" />
        <meta
            name="keywords"
            content="software developer, fullstack developer, projects"
        />
        <link rel="stylesheet" href="/static/styles.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
            rel="stylesheet"
        />
        <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
        <title>Juan Wu | Projects</title>
    </head>
    <body>
        <h1>Projects not implemented</h1>
    </body>
</html>
