@import "tailwindcss";

@source "./page.go";
@source "./views/**/*.html";

@theme {
  --font-inter: "Inter", sans-serif;

  --breakpoint-3xl: 2048px;
  --breakpoint-4xl: 2560px;
  --breakpoint-5xl: 4096px;
}

@custom-variant retina {
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    @slot;
  }
}

@custom-variant retina-sm {
  @media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 640px),
    only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 640px),
    only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 640px),
    only screen and (min-device-pixel-ratio: 2) and (min-width: 640px),
    only screen and (min-resolution: 192dpi) and (min-width: 640px),
    only screen and (min-resolution: 2dppx) and (min-width: 640px) {
    @slot;
  }
}

@custom-variant retina-md {
  @media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1024px),
    only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 1024px),
    only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 1024px),
    only screen and (min-device-pixel-ratio: 2) and (min-width: 1024px),
    only screen and (min-resolution: 192dpi) and (min-width: 1024px),
    only screen and (min-resolution: 2dppx) and (min-width: 1024px) {
    @slot;
  }
}

@layer components {
    .colourful-card {
        @apply relative bg-white p-2 text-zinc-950 transition-all after:absolute after:-right-2 after:top-2 after:-z-10 after:h-full after:w-full after:bg-linear-to-r after:from-purple-500 after:to-pink-500 after:transition-all hover:bg-transparent hover:text-white hover:after:right-0 hover:after:top-0 focus:bg-transparent focus:text-white focus:after:right-0 focus:after:top-0;
    }

    .clip-me-from-grass {
        clip-path: polygon(58.36% 5.19%,
                52.34% 3.68%,
                45.85% 3.05%,
                37.74% 7.64%,
                35.66% 12.39%,
                34.82% 19.98%,
                32.57% 27.81%,
                29.87% 32.92%,
                22.01% 37.14%,
                17.02% 42.9%,
                10.6% 53.43%,
                8.22% 70.71%,
                6.32% 80.67%,
                10.69% 91.75%,
                9.18% 99.36%,
                47.27% 99.44%,
                92.39% 99.2%,
                91.85% 86.29%,
                94.77% 74.28%,
                88.08% 54.82%,
                83.74% 45.14%,
                78.61% 37.63%,
                71.62% 34.03%,
                64.62% 23.61%,
                63.88% 18.13%,
                62.23% 10.25%);
    }

    .grid-pattern {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: repeat;
        background-image: url("/static/grid.svg");
    }

    .radial-overlay {
        background: radial-gradient(circle,
                rgba(24, 24, 27, 0) 0%,
                rgba(24, 24, 27, 1) 50%);
    }

    .polka-pattern {
        background-color: #18181b;
        opacity: 1;
        background-image: radial-gradient(#27272a 1.3px, transparent 1.3px),
            radial-gradient(#27272a 1.3px, #18181b 1.3px);
        background-size: 52px 52px;
        background-position:
            0 0,
            26px 26px;
    }
}
